body {
    background-color: rgb(237, 190, 255);
  }
  
  h1 {
    color: rgb(255, 255, 255);
  }
  .center{
    text-align: center;
  }
  .fonte-verde{
    color:rgb(4, 145, 46)
  }
  #para {
    font-family: verdana;
    font-size: 20px;
  }

  